{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}登陆{% endblock %}

{% block page_content %}
<form action="{{ url_for('login') }}" method="post">
<div class="form_group">
    <input name="mailaddress" type="text" placeholder="请输入邮箱帐号：">
</div>
    <div class="form_group">
    <input name="password" type="password" placeholder="请输入密码：" >
</div>
      <div class="form_group">
    <button class="btn btn-primary" value="提交">提交</button>
</div>
</form>

{% endblock %}
